<div class="container-fluid" id="insights">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right"></div>
        <h4 class="page-title">Poverty Insights</h4>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">City</h4>
              <div dir="ltr">
                <div class="bar-container" style="width: 100%;height: 300px;" data-colors="#39afd1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">Income Level</h4>
              <div dir="ltr">
                <div class="bar-container-horizontal" style="width: 100%;height: 300px;" data-colors="#aa1f0e,#0acf97,#6c757d,#fa5c7c,#ffbc00,#39afd1,#e3eaef"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">By Month</h4>
              <div dir="ltr">
                <div id="cohortByMonth" style="width: 100%;height: 300px;" data-colors="#39afd1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">By Year</h4>
              <div dir="ltr">
                <div id="cohortByYear" style="width: 100%;height: 300px;" data-colors="#aa1f0e,#0acf97,#6c757d,#fa5c7c,#ffbc00,#39afd1,#e3eaef"></div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">Pre Probability</h4>
              <div dir="ltr">
                <div id="preProbabilityChart" style="width: 100%;height: 300px;" data-colors="#39afd1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4">Post Probability</h4>
              <div dir="ltr">
                <div id="postProbabilityChart" style="width: 100%;height: 300px;" data-colors="#39afd1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>