
<div class="container-fluid" id="usermanagement-section">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h4 class="page-title">User Management</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="tab-content">
                        <div class="tab-pane show active" id="basic-datatable-preview" role="tabpanel">
                            <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="basic-datatable_filter" class="dataTables_filter">
                                            <label>Search:
                                                <input type="search" id="user-search" class="form-control form-control-sm" placeholder="Search user...">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline" aria-describedby="basic-datatable_info" style="position: relative; width: 1087px;">
                                          <thead>
                                            <tr>
                                              <th>StaffID</th>
                                              <th>Username</th>
                                              <th>Fullname</th>
                                              <th>Action</th>
                                              <!-- 
                                              <th>Firstname</th>
                                              <th>Middlename</th>
                                              <th>Lastname</th>
                                              <th>Position</th> -->
                                            </tr>
                                          </thead>
                                          <tbody id="user-table-body">
                                          </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>