/* 1. Target the FIRST dot (Pre Intervention) and force it to be Purple */
/* Using !important ensures this style overrides conflicting styles */
.apexcharts-tooltip-series-group:nth-of-type(1) .apexcharts-tooltip-marker {
    color: #727cf5 !important;
}

/* 2. Target the SECOND dot (Post Intervention) and force it to be Grey */
.apexcharts-tooltip-series-group:nth-of-type(2) .apexcharts-tooltip-marker {
    color: #727cf5 !important;
}